# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Type checking / linting
.mypy_cache/
.coverage
htmlcov/

# Databases
*.db

# Editors / IDEs
.vscode/
.idea/

# Environment files
.env
**/.env